/* src/assets/styles/fonts.css */

@font-face {
    font-family: 'DingTalk-JinBuTi';
    src: url('../fonts/DingTalk-JinBuTi.ttf') ;
    /* 如果有其他格式的字体文件，也可以在这里添加对应的 src */
    font-weight: normal;
    font-style: normal;
  }
 